# uv # needed for conda installation
chromadb
click
fastmcp
git+https://github.com/robinruff/mcphost.git
grandalf
ipykernel
langchain_community
langchain-chroma
langchain-core
langchain-huggingface
langchain-mcp-adapters
langchain-openai
langgraph
prompt_toolkit
pydantic
pypdf
python-dotenv
rich
sentence-transformers
tavily-python
uv
watchdog
youtube_transcript_api
yt-dlp